# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
# Ignore build artifacts, secrets, and editor configs
build/
controller/build/
controller/sdkconfig
controller/sdkconfig.old
wifi_secrets.conf
wifi_secrets.h
.vscode
.devcontainer
